html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito Sans', sans-serif;
  }
.arebic{
  display: none;
}
.container_inline_section {
  text-align: center;
  margin: 100px 0 60px 0;
}
.container_inline_section .col img{
  width: 40px;

}
.container_inline_section h4 {
  font-size: 16px;
  margin: 10px 0;
  color: #2b2b2b;
}

.bg-dark {
  padding: 50px 0;
  font-size: 20px;
  line-height: 24px;
}
.bg-dark a {
      border: 4px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.25) !important;
    width: 48px;
    height: 48px;
    display: block;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
}

.footer-alt {
      padding: 30px 0 15px 0;
}

.two_box_size .card {
  text-align: center;
  margin: 30px 0 60px 0;
  padding: 40px;
}

.card-title {
    margin-bottom: .75rem;
    font-size: 0.9em;
}

.two_box_size .card a {
  background: #851933;
  border-color: #a72343;
  padding: 9px 15px;
  margin: 0;
  width: auto;
  height: auto;
}

.yellow {
  background-color: #ffdb56; }

.btn {
  width: 200px;
  height: 55px;
  border: 2px solid white;
  color: white;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
  line-height: 220%; }
  .btn:hover {
    background-color: white;
    color: #ffdb56; }

.hero {
  width: 100%;
  height: 80%;
  min-height: 500px;
  position: relative; }
  .hero .container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 999; }
  .hero .tagline {
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    width: 100%;
    padding: 8% 0 0 0;
    float: left;
    color: white; }
    .hero .tagline p {
          font-size: 30px;
    line-height: 40px;
    margin-top: 10px; }
      @media (max-width: 1450px) {
        .hero .tagline p {
          font-size: 1.8rem;
          line-height: inherit;
          letter-spacing: -1px; } }
      @media (max-width: 600px) {
        .hero .tagline p {
          font-size: 1.2rem; } }
    .hero .tagline h1 {
      font-weight: bold;
      font-size: 5rem;
      letter-spacing: -0.15rem;
      line-height: 7rem; }
      @media (max-width: 1450px) {
        .hero .tagline h1 {
          font-size: 2.5rem;
          line-height: 3rem; } }
    @media (max-width: 1450px) {
      .hero .tagline {
        padding: 4% 4% 4% 4%;
        background: rgba(0, 0, 0, 0.59);
        border-radius: 1em;
    } }
    @media (max-width: 800px) {
      .hero .tagline {
        float: none;
        width: 100%;
        margin-bottom: 70px; } }
  .hero .downloads {
    float: right;
    width: 40%;
    color: white;
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 1.5rem;
    height: 100%;
    position: relative; }
    .hero .downloads .btn-container {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%; }
      .hero .downloads .btn-container .btn {
        float: right;
        text-align: center;
        margin-left: 20px; }
        @media (max-width: 800px) {
          .hero .downloads .btn-container .btn {
            float: left;
            margin: 20px 20px 0 0; } }
    @media (max-width: 800px) {
      .hero .downloads {
        float: none;
        width: 100%;
        height: auto; } }

.content {
  width: 80%;
  height: auto;
  margin: 0 auto;
  color: #464646;
  letter-spacing: -1px;
  padding: 75px 0 75px 0; }
  .content h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 10px 0; }
  .content p {
    font-size: 1.4rem;
    font-weight: normal; }
  .content code {
    display: block;
    min-height: 100px;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px 0; }

code {
  background-color: #464646;
  color: #ffdb56;
  font-size: 1rem; }
  @media (max-width: 800px) {
    code {
      font-size: .8rem; } }
  @media (max-width: 600px) {
    code {
      font-size: .5rem; } }

#code-header {
  margin-bottom: 0px; }

#code-footer {
  margin-top: 0px; }

.code-comment {
  font-style: italic;
  color: gray; }

hr {
  margin: 50px 0; }

.download {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #ffdb56;
  margin-top: 100px;
  color: white;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.5rem; }
  .download h1 {
    font-weight: bold;
    font-size: 7rem;
    letter-spacing: -0.25rem;
    line-height: 7rem; }
    @media (max-width: 1450px) {
      .download h1 {
        font-size: 5rem;
        line-height: 5rem; } }
  .download .btn {
    text-align: center; }
  .download > div {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%; }
    .download > div > * {
      float: left; }
    .download > div .btn-container {
      width: 500px;
      float: right;
      margin-top: 10px; }
      .download > div .btn-container .btn {
        float: right;
        margin-left: 20px; }
  @media (max-width: 800px) {
    .download {
      display: none; } }

footer {
  width: 100%;
  height: 400px;
  background-color: #464646;
  position: relative; }
  footer .info {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.25rem;
    letter-spacing: -1px; }
    footer .info a {
      color: white; }

.new-option {
  background-color: #e74c3c;
  color:white;
  font-weight:bold;
  padding: 0px 7px 3px 7px;
  margin-right:5px;
}
